In [3]:
import pandas as pd

# Convert u.data → ratings.csv
ratings = pd.read_csv("u.data", sep="\t", names=["user_id", "movie_id", "rating", "timestamp"])
ratings.to_csv("ratings.csv", index=False)

# Convert u.item → movies.csv
# (There are 19 genre flags at the end)
movie_columns = ["movie_id", "title", "release_date", "video_release_date", "imdb_url"] + [f"genre_{i}" for i in range(19)]
movies = pd.read_csv("u.item", sep="|", encoding="latin-1", names=movie_columns)
movies.to_csv("movies.csv", index=False)

# Convert u.user → users.csv
users = pd.read_csv("u.user", sep="|", names=["user_id", "age", "gender", "occupation", "zip_code"])
users.to_csv("users.csv", index=False)

# Convert u.genre → genres.csv
genres = pd.read_csv("u.genre", sep="|", names=["genre_name", "genre_id"]).dropna()
genres.to_csv("genres.csv", index=False)

print("Conversion complete! CSV files saved: ratings.csv, movies.csv, users.csv, genres.csv")

 Conversion complete! CSV files saved: ratings.csv, movies.csv, users.csv, genres.csv

In [18]:
import pandas as pd
import mysql.connector

# Connect to MySQL with SQLAlchemy for safety
from sqlalchemy import create_engine
engine = create_engine("mysql+mysqlconnector://retail_user:StrongPassword!23@localhost/movierms")

# Load only the necessary tables
ratings = pd.read_sql("SELECT user_id, movie_id, rating FROM Ratings LIMIT 5000;", engine)
movies = pd.read_sql("SELECT movie_id, title FROM Movies;", engine)

# Merge for easy lookup
data = pd.merge(ratings, movies, on="movie_id")

# --- Simple Popularity Recommender (safe, lightweight) ---
movie_mean = data.groupby("title")["rating"].mean().sort_values(ascending=False)
top_movies = movie_mean.head(10)

print(" Top 10 Movies by Average Rating:")
print(top_movies)

# --- Simple User-Based Recommendation ---
def recommend_for_user(user_id, n=5):
    user_ratings = data[data["user_id"] == user_id]
    watched = set(user_ratings["title"])

    # Recommend top-rated movies that user hasn't seen
    recs = movie_mean[~movie_mean.index.isin(watched)].head(n)
    return recs

print("\n Recommendations for User 1:")
print(recommend_for_user(1))

Top 10 Movies by Average Rating:
title
Short Cuts (1993)                                  5.0
Delta of Venus (1994)                              5.0
Davy Crockett, King of the Wild Frontier (1955)    5.0
Amateur (1994)                                     5.0
Dark City (1998)                                   5.0
Waiting for Guffman (1996)                         5.0
Hearts and Minds (1996)                            5.0
Anna Karenina (1997)                               5.0
Unforgettable (1996)                               5.0
Christmas Carol, A (1938)                          5.0
Name: rating, dtype: float64

 Recommendations for User 1:
title
Short Cuts (1993)                                  5.0
Delta of Venus (1994)                              5.0
Davy Crockett, King of the Wild Frontier (1955)    5.0
Amateur (1994)                                     5.0
Dark City (1998)                                   5.0
Name: rating, dtype: float64

In [20]:
movie_stats = data.groupby("title")["rating"].agg(["mean", "count"])
movie_stats = movie_stats[movie_stats["count"] > 20]  # only popular movies
top_movies = movie_stats.sort_values("mean", ascending=False).head(10)
print(top_movies)

                                      mean  count
title
Star Wars (1977)                  4.379310     29
Godfather, The (1972)             4.318182     22
Silence of the Lambs, The (1991)  4.230769     26
Pulp Fiction (1994)               4.208333     24
Empire Strikes Back, The (1980)   4.200000     25
Raiders of the Lost Ark (1981)    4.148148     27
Fargo (1996)                      4.080000     25
Chasing Amy (1997)                4.000000     21
Contact (1997)                    3.971429     35
Fugitive, The (1993)              3.956522     23

In [22]:
def similar_users(user_id, n=3):
    target_movies = set(data[data["user_id"] == user_id]["movie_id"])
    scores = {}
    for other in data["user_id"].unique():
        if other == user_id: 
            continue
        other_movies = set(data[data["user_id"] == other]["movie_id"])
        overlap = len(target_movies & other_movies)
        scores[other] = overlap
    return sorted(scores.items(), key=lambda x: x[1], reverse=True)[:n]

print(similar_users(1))

[(94, 8), (59, 7), (13, 7)]

In [24]:
movie_stats = pd.read_sql("SELECT movie_id, title, COUNT(rating) v, AVG(rating) R FROM Ratings JOIN Movies USING(movie_id) GROUP BY movie_id, title", engine)
C = movie_stats['R'].mean()
m = 50
movie_stats['bayes'] = (movie_stats['v']/(movie_stats['v']+m))*movie_stats['R'] + (m/(movie_stats['v']+m))*C
movie_stats.sort_values('bayes', ascending=False).head(20)

     movie_id                                   title    v        R     bayes
317       318                 Schindler's List (1993)  298  4.46644  4.266671
49         50                        Star Wars (1977)  583  4.35849  4.257191
63         64        Shawshank Redemption, The (1994)  283  4.44523  4.239647
482       483                       Casablanca (1942)  243  4.45679  4.221168
11         12              Usual Suspects, The (1995)  267  4.38577  4.179189
126       127                   Godfather, The (1972)  413  4.28329  4.152918
97         98        Silence of the Lambs, The (1991)  390  4.28974  4.151820
602       603                      Rear Window (1954)  209  4.38756  4.134372
173       174          Raiders of the Lost Ark (1981)  420  4.25238  4.127238
312       313                          Titanic (1997)  350  4.24571  4.099502
356       357  One Flew Over the Cuckoo's Nest (1975)  264  4.29167  4.098099
171       172         Empire Strikes Back, The (1980)  367  4.20436  4.069070
426       427            To Kill a Mockingbird (1962)  219  4.29224  4.066181
99        100                            Fargo (1996)  508  4.15551  4.058784
407       408                   Close Shave, A (1995)  112  4.49107  4.054334
168       169              Wrong Trousers, The (1993)  118  4.46610  4.052393
133       134                     Citizen Kane (1941)  198  4.29293  4.047590
172       173              Princess Bride, The (1987)  324  4.17284  4.026210
271       272                Good Will Hunting (1997)  198  4.26263  4.023399
479       480               North by Northwest (1959)  179  4.28492  4.020973

In [26]:
# get top genres for user
user_top_genres = pd.read_sql(f"""
  SELECT mg.genre_id, g.genre_name, AVG(r.rating) avg_rating, COUNT(*) cnt
  FROM Ratings r
  JOIN MovieGenres mg ON r.movie_id = mg.movie_id
  JOIN Genres g ON mg.genre_id = g.genre_id
  WHERE r.user_id = {user_id}
  GROUP BY mg.genre_id, g.genre_name
  ORDER BY avg_rating DESC, cnt DESC
  LIMIT 3
""", engine)

# for those genres, recommend high bayes_score movies the user hasn't rated
top_genre_ids = user_top_genres['genre_id'].tolist()
placeholders = ','.join(map(str, top_genre_ids))
candidate_sql = f"""
  SELECT m.movie_id, m.title, ms.bayes_score
  FROM MovieGenres mg
  JOIN Movies m ON mg.movie_id = m.movie_id
  JOIN (
    SELECT movie_id, (COUNT(rating)/(COUNT(rating)+50.0))*AVG(rating) + (50.0/(COUNT(rating)+50.0))*{C} AS bayes_score
    FROM Ratings
    GROUP BY movie_id
  ) ms ON m.movie_id = ms.movie_id
  WHERE mg.genre_id IN ({placeholders})
  AND m.movie_id NOT IN (SELECT movie_id FROM Ratings WHERE user_id = {user_id})
  GROUP BY m.movie_id, m.title, ms.bayes_score
  ORDER BY ms.bayes_score DESC
  LIMIT 20;
"""
cands = pd.read_sql(candidate_sql, engine)

NameError: name 'user_id' is not defined